.card,
.card-body,
.card-footer {
    display: flex;
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.card {
    padding: 1rem;
    border: 1px solid black;
    flex-direction: column;
}
.card-body {
    flex-direction: column;
}
.card-body img {
    width: 100%;
}
.card-body div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-footer {
    justify-content: space-between;
    align-items: center;
}
.card-footer span {
    border-radius: 10px;
    border: 1px solid orange;
    padding: 5px;
    color: orange;
    margin-right: 10px;
}


.light{
    background-color: beige;
}

.dark{
    background-color: black;
}