@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

#root{
  width: 100%;
}

body {
  display: flex;
  gap: 1rem;
  font-family: 'Work Sans', sans-serif;
}

input, button{
  font-family: inherit;
}

header, main, footer{
  padding: 2rem;
  margin: 1rem;
}

header{
  border: 1px solid green;

}

main{
  border: 1px solid red;
}

footer{
  border: 1px solid blue;
}