@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
  display: flex;
  gap: 1rem;
  font-family: 'Work Sans', sans-serif;
}

input, button{
  font-family: inherit;
}

header{
  border: 1px solid green;
  padding: 2rem;
}

main{
  border: 1px solid red;
  padding: 2rem;
}

footer{
  border: 1px solid blue;
  padding: 2rem;
}